<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>File Download</title>
</head>
<body>
    <% if (error) { %>
        <p><%= error %></p>
    <% } else { %>
        <h1>File Details</h1>
        <p><strong>UUID:</strong> <%= uuid %></p>
        <p><strong>File Name:</strong> <%= fileName %></p>
        <p><strong>File Size:</strong> <%= fileSize %> bytes</p>
        <a href="<%= downloadLink %>">Download File</a>
    <% } %>
</body>
</html>
